<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @forum.team %>
</p>

<p>
  <strong>Name:</strong>
  <%= @forum.name %>
</p>

<%= link_to 'Edit', edit_forum_path(@forum) %> |
<%= link_to 'Back', forums_path %>
