<p id="notice"><%= notice %></p>

<p>
  <strong>Team:</strong>
  <%= @forum.team.name %>
</p>

<p>
  <strong>Name:</strong>
  <%= @forum.name %>
</p>
<table>
	<thead>
		<th>Posts</th>
	</thead>
	<tbody>
		<% @posts.all.each do |post| %>
			<tr><td><%=link_to post.title , post_url(post)%></td></tr>
		<% end %>
	</tbody>
<table>
<%= link_to 'Add Post', new_forum_post_path(@forum) %><br/>

<% if current_user.profesor?%>
	<%= link_to 'Edit', edit_forum_path(@forum) %> |
<% end %>
<%= link_to 'Back', forums_path %>
