<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>
<table>
	<thead>
		<th>Projects</th>
	</thead>
	<tbody>
		<% @projects.all.each do |project| %>
			<tr><td><%=link_to project.name , project_url(project)%></td></tr>

		<% end %>
	</tbody>
<table>
<table>
	<thead>
		<th>Forums</th>
	</thead>
	<tbody>
		<% @forums.all.each do |forum| %>
			<tr><td><%=link_to forum.name , forum_url(forum)%></td></tr>

		<% end %>
	</tbody>
<table>
<%= link_to 'Edit', edit_team_path(@team) %> |
<%= link_to 'Back', teams_path %>
