<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @team.name %>
</p>
<table>
	<thead>
		<th><h1>Project</h1></th>
	</thead>
	<tbody>
		<% @projects.all.each do |project| %>
			<tr><td><%=link_to project.name , project_url(project)%></td></tr>

		<% end %>
	</tbody>
<table>
<table>
	<thead>
		<th><h1>Forums</h1></th>
	</thead>
	<tbody>
		<% @forums.all.each do |forum| %>
			<tr>
				<td><%=link_to forum.name , forum_url(forum)%></td>
			</tr>

		<% end %>
	</tbody>
<table>
<table>
	<thead>
		<th><h1>Students</h1></th>
	</thead>
	<tbody>
		<% @students.all.each do |student| %>
			<tr><td><%= student.email %></td></tr>

		<% end %>
	</tbody>
<table>
<% if current_user.profesor? %>
	<%= link_to 'Edit', edit_team_path(@team) %> |
<% end %>
<%= link_to 'Back', teams_path %>
